@font-face {
  font-family: "NTR";
  src: url('fonts/NTR/NTR-Regular.ttf');
}
body {
    margin:0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    --lightgrey: #eee;
    --darkgrey: #2d2d2d;
    --blue: #03A9F4;
    --white: #fff;
    color: var(--darkgrey);
    font-family: NTR;
    font-size: 25px;
    line-height:28px;
}
a {
    text-decoration: none;
    color: var(--blue);
}
h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    line-height: 35px;
}
h3 {
    font-size: 30px;
    line-height: 35px;
}
div.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: 0px 5px 10px var(--lightgrey);
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index:100;
}
a.header-item {
    display: flex;
    align-items: center;
    padding:5px;
    margin: 10px;
    height:30px;
    text-decoration: none;
    font-size: 18px;
    color: var(--blue);
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
a.header-item:hover {
    border-bottom: 2px solid var(--blue);
}
div.footer {
    width:100%;
    height: 150px;
    background-color: var(--darkgrey);
}
div.main {
    width:100%;
    max-width:1000px;
    margin:50px 0px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.separator {
    width: 150px;
    height: 5px;
    border-radius: 2px;
    background-color: var(--blue);
    margin:20px;
}
div.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
}
div.install {
    background-color: var(--lightgrey);
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 18px;
    width:400px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
}
div.feature {
    border-radius: 5px;
    width:200px;
    font-size: 20px;
    margin:20px;
    padding: 10px;
}
div.feature-description {

}
img.feature-logo {
    margin:10px;
    width:80px;
    height:80px;
}
img.logo {
    width:100%;
    max-width:600px;
}
div.line {
    display: inline-block;
    height: 5px;
    width: 100px;
    background-color: var(--blue);
    border-radius: 2px;
    margin:0px 50px;
}
div.table {
    width:100%;
    min-width: 700px;
    max-width: 1000px;
}
div.tabs {
    display: flex;
    flex-direction: row;
    width:100%;
}
div.tab-item {
    display: flex;
    flex: 1;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    height:45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.tab-item.selected {
    color: var(--blue);
}
div.tab-item:hover {
    background-color: #ddd;
}
a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}
div.dropdown {
  position: relative;
  display: inline-block;
}
div.dropdown-content {
  display: none;
  position: absolute;
  width:304px;
  z-index: 1;
  border-top: 1px solid #aaa;
  border: 2px solid var(--darkgrey);
  border-top:none;
  box-sizing: border-box;
}
div.dropdown-item {
    cursor: pointer;
    height:40px;
    width:300px;
    background-color: var(--lightgrey);
    line-height: 40px;
    user-select: none;
}
div.dropdown-label {
    height:40px;
    line-height: 40px;
    width:304px;
    display:flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    box-sizing: border-box;
}
div.dropdown-label:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -3px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--darkgrey) transparent transparent transparent;
}
div.dropdown-item:hover {
    background-color: #ddd;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  margin-top:20px;
  border: 2px solid var(--darkgrey);
}

thead, tbody, tr {
  display: contents;
}

th, td {
  padding: 10px 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  background: var(--darkgrey);
  text-align: left;
  color: var(--lightgrey);
}

th:last-child {
  border: 0;
}

td {
  color: var(--darkgrey);
}

tr:nth-child(even) td {
  background: var(--lightgrey);
}
img.copycode {
    display: none;
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
div.install:hover img.copycode {
    display: block;
}
