@font-face {
  font-family: "NTR";
  src: url('fonts/NTR/NTR-Regular.ttf');
}
body {
    margin:0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    --lightgrey: #eee;
    --grey: #333;
    --lightblue: #03A9F4;
    --darkblue: #1769AA;
    --white: #fff;
    color: var(--grey);
    font-family: NTR;
    font-size: 25px;
    line-height:28px;
}
a {
    text-decoration: none;
    color: var(--lightblue);
}
h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    line-height: 35px;
}
h3 {
    font-size: 30px;
    line-height: 35px;
}
div.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: 0px 5px 10px var(--lightgrey);
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
a.header-item {
    display: flex;
    align-items: center;
    padding:5px;
    margin: 10px;
    height:30px;
    text-decoration: none;
    font-size: 18px;
    color: var(--lightblue);
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
a.header-item:hover {
    border-bottom: 2px solid var(--lightblue);
}
div.footer {
    width:100%;
    height: 150px;
    background-color: var(--grey);
}
div.main {
    width:100%;
    max-width:1000px;
    margin:50px 0px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.separator {
    width: 150px;
    height: 5px;
    border-radius: 2px;
    background-color: var(--lightblue);
    margin:20px;
}
div.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
}
div.install {
    background-color: var(--lightgrey);
    font-family: Monaco;
    font-size: 18px;
    width:400px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}
div.feature {
    border-radius: 5px;
    width:200px;
    font-size: 20px;
    margin:20px;
    padding: 10px;
}
div.feature-description {

}
img.feature-logo {
    margin:10px;
    width:80px;
    height:80px;
}
img.logo {
    width:100%;
    max-width:600px;
}
